{% extends  "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> Join now</legend>

                <div class="form-group">
                    {{ form.username.label(class="form-control") }}
                    {{ form.username(class="form-contronl form-control-lg") }}
                </div>

                <div class="form-group">
                    {{ form.email.label(class="form-control") }}
                    {{ form.email(class="form-contronl form-control-lg") }}
                </div>

                <div class="form-group">
                    {{ form.password.label(class="form-control") }}
                    {{ form.password(class="form-contronl form-control-lg") }}
                </div>

                <div class="form-group">
                    {{ form.confirm_password.label(class="form-control") }}
                    {{ form.confirm_password(class="form-contronl form-control-lg") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outlune-info") }}
            </div>

        </form>
    </div>

    <div class="border-top pt-3">
        <small class="text-muted">
            Already have an account? <a class="ml-2" href="{{ url_for('login') }}">Sing in</a>
        </small>


    </div>

{% endblock content %}